<section id="newsletter" class="newsletter">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div class="content" ;">
            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
            <p style=" margin: 26px;color:white; font-family: 'Montserrat'; letter-spacing: 0.7; line-height: 1;">By signing up to our newsletter, you'll always stay informed of our exclusive promotions, specials offers, new product launches and upcoming events.</p>
            <form action="/newsletter" method="POST">
            <div class="input-group">
           
                <input type="email" class="form-control" name="email" placeholder="Enter your email">
                <span class="input-group-btn">
                <button style="font-family: 'Montserrat';" class="btn" type="submit">Subscribe Now</button>
                </span>

           
           
              </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    </section>