<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/store.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/images/1.svg" type="image/x-icon" />
    <title>Home</title>
</head>
<div>
  <body>
 
  
  <%- include("partials/navbar") %> 
  
    <section id="mast" class="homeMast" style="height: 750px;">
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Farm</div>
                <div class="masthead-heading text-uppercase">EAT HEATHY AND STAY HEALTHY</div>
                <p>"Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals & happiness. "Here You can get the finest and best range of vegetables , seeds , farmers equiments and fertilizers at reasonal prices. With more than 100 different types of seeds and fertilizers which will help you grow healthy crops.</p>

               <a href="#pages"><i class="pos fas fa-sort-down"></i></a>
              <a href="#pages"> <hr class="full"  style="color: blue; font-size: 3rem;"></a>
               
      
            </div>
          
        </header>
       
    </section>

        <!-- Features -->

     
   
  
    <section id="pages" class="page-section" >
        <div style="overflow:hidden; height: auto;">

            <div  class="row" >
               
                <div class="col-lg-8" style="background-color: #ffffff; padding: 5rem; height: 100vh;">
              <div class="flex-container" style="padding: 15px;">
                  <div class="about" style="color:#212529">SERVICES PROVIDED</div>
         <div style="padding:0 7%;"  >
                          
                          <p style="color: #e6b301;font-size: 1.1rem; line-height: 2; letter-spacing: 0.0067em; font-family: 'Montserrat';">You can order online where you can select type of delivery - automatic deliveries or deliveries on demand,  We have the best service to suit your needs. Scroll down to discover the complete list of services we offer.</p>
                           <div class="text-center">
                      
                        <a href="#serv" style="font-size: 1.89rem; position:relative;margin-top: 120px;" class="btn btn-primary btn-lg text-uppercase submit" role="button">Browse Services</a>
                    </div>
                      </div>

                   
      
             
              </div>
              </div>
              <div class="col-lg-4" >
                <img class="rhead" src="https://images.unsplash.com/photo-1590779033100-9f60a05a013d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80;
                " alt="">
                </div>
              
            </div>
           
  
               
              

        </div>
    


      
    </section>
    <section  id="serv" >
      <div class="about" style=" text-align: center; color:#212529">CATEGORIES</div>
      <div class="container-fluid" style="padding: 1.5% 2%;">
        <div class="row">
          <div class="col-lg-4 " style="text-align: center;">
            <a class="inLink" href="/break">
              <img src="/images/85.png" id="ig" style=" margin-bottom:10px ;font-size: 0.4rem;" alt="">
              <h3 >CROPS</h3>
              <p class="inH">A crop is a plant or plant product that can be grown and harvested for profit or subsistence. By use, crops fall into six categories: food crops, feed crops, fiber crops, oil crops, ornamental crops, and industrial crops. Food crops, such as fruit and vegetables, are harvested for human consumption.  </p>

            </a>
   
          </div>
          <div class="col-lg-4 " style="text-align: center;">
            <a class="inLink" href="/equipments">
            <img src="/images/23.png" id="ig" style=" margin-bottom:10px ;font-size: 0.4rem;" alt="">
           <h3 >EQUIPMENTS</h3>
            <p class="inH">Agricultural machinery is machinery used in farming or other agriculture. There are many types of such equipment, from hand tools and power tools to tractors and the countless kinds of farm implements that they tow or operate. Diverse arrays of equipment are used in both organic and nonorganic farming.</p>
          </a>
          </div>
          <div class="col-lg-4 feat" style="text-align: center;">
            
            
            <a class="inLink" href="/beans">
            <img src="/images/65.png" id="ig" style=" margin-bottom:10px ;font-size: 0.4rem;" alt="">

            <h3 >FERTILIZERS</h3>
            <p class="inH">Fertilizers are chemical substances supplied to the crops to increase their productivity. These are used by the farmers daily to increase the crop yield. The fertilizers contain the essential nutrients required by the plants, including nitrogen, potassium, and phosphorus.</p>
          </a>

          </div>
        </div>
      </div>
    </section>



    <section id="pages" class="page-section" >
        <div style="overflow:hidden; height: auto;">

            <div  class="row" >
                <div class="col-lg-4" >
              <img class="lefhead" src="/images/79.png";
              " alt="">
              </div>
                <div class="col-lg-8" style="padding: 6rem;height: 100vh;">
              <div class="flex-container" style="background-color: #212529;padding-top: 15px;padding-left: 15px;padding-right: 15px; padding-bottom: 25px;">
                  <div class="about">ABOUT US</div>
      
                
                      <div style="text-align: left; padding: 0 7%;"  >
                        <p style="line-height: 2;font-size: 1.1rem; color: #36fe36; letter-spacing: 0.0067em; font-family: 'Montserrat';">As India's leading Farming Products provider, we're dedicated to providing diversified solutions that meet our clients' needs. Our national standing is rooted in our local presence, allowing us to serve you with all the benefits of a large corporation while giving you the personalized service of a smaller provider. Our heritage is a unique combination of Products roasting traditions and revolutionary technologies, making us a complete farming product solution that is unmatched by any other.</p>
                          <img class="im" style="float: right; height: 13rem;"  >
                          <p style="color: #fed136;font-size: 1.1rem; line-height: 2; letter-spacing: 0.0067em; font-family: 'Montserrat';"></p>
                          
                      </div>

                   
      
             
              </div>
              </div>
              
            </div>
           
  
               
              

        </div>
    


      
    </section>

    

    <section id="pages" class="page-section" >
        <div style="overflow:hidden; height: auto;">

            <div  class="row" >
               
                <div class="col-lg-8" style="background-color: #ffffff; padding: 5rem; height: 100vh;">
              <div class="flex-container" style="padding: 17px;">
                  <div class="about" style="color:#212529">CONTACT US</div>
         <div style="padding:0 8%;"  >
                          
                          <p style="color: #01e60c;font-size: 1.1rem; line-height: 2; letter-spacing: 0.0067em; font-family: 'Montserrat';">We are dedicated to serve you, wherever you are.</p>
                           <div class="text-center">
                      
                        <a href="/contact" style=" font-size: 1.89rem; position:relative;margin-top: 120px;" class="btn btn-primary btn-lg text-uppercase submit" role="button">Contact Us</a>
                    </div>
                      </div>

                   
      
             
              </div>
              </div>
              <div class="col-lg-4" >
                <img class="rhead" src="https://images.unsplash.com/photo-1579113800032-c38bd7635818?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80";
                " alt="">
                </div>
              
            </div>
           
  
               
              

        </div>
    


      
    </section>

    <section id="press" style=" padding:4rem;">
        <img class="presss-logo" style="font-size: 2rem;" src="images/techcrunch.png" alt="tc-logo" />
        <img class="presss-logo" style="font-size: 2rem;" src="images/tnw.png" alt="tnw-logo" />
        <img
        style="font-size: 2rem;"
          class="presss-logo"
          src="images/bizinsider.png"
          alt="biz-insider-logo"
        />
        <img style="font-size: 2rem;" class="presss-logo" src="images/mashable.png" alt="mashable-logo" />
       
    </section>

    <%- include("partials/newsletter") %> 
  


    


     



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->


<script src="js/scripts.js"></script>
<%- include("partials/footer") %> 
    
</body>

</div>

</html>